
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Inventory/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="~/Content/self-writing/js/Controllers/GiuHangCtrl.js"></script>
<style>
    .md-pane-open {
        z-index: 9999;
    }
    #thongtin td{
        border: 1px solid black;
    }
</style>

<div ng-app="myApp" ng-controller="GiuHangHopLongCtrl">
    <div class="content">
        <input type="hidden" name="macongty" id="macongty" value="@Session["MA_CONG_TY"]">
        <div class="content">
            <button class="primary" style="margin-bottom:5px" data-toggle="modal" data-target="#themgiuhangmodal">Thêm giữ hàng</button>
            <br />
            <table border="1" cellpadding="10" cellspacing="0">
                <tbody>
                    <tr height="20">
                        <th align="center" height="20" style="height:20px;width:10%;">Người giữ</th>
                        <th align="center" style="width:40%;">Tên khách</th>
                        <th align="center" style="width:10%;">Mã hàng</th>
                        <th align="center" style="width:5%;">SL giữ</th>
                        <th align="center" style="width:10%;">Ngày giữ</th>
                        <th align="center" style="width:10%;">Ngày xuất</th>
                        <th align="center" style="width:5%;">Giữ PO?</th>
                        <th align="center" style="width:5%;">Đã xuất</th>
                        <th align="center" style="width:5%;">Đã hủy giữ</th>
                    </tr>
                    <tr ng-repeat="item in ListDataGiuKho">
                        <td>{{item.TEN_SALES_GIU}}</td>
                        <td>{{item.TEN_KHACH_HANG}}</td>
                        <td>{{item.TEN_HANG}}</td>
                        <td>{{item.SL_GIU}}</td>
                        <td>{{item.NGAY_GIU| date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.NGAY_XUAT| date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.GIU_PO}}</td>
                        <td>{{item.DA_XUAT}}</td>
                        <td>{{item.DA_HUY_GIU}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="themgiuhangmodal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-md" style="width: 50%">
                <div class="modal-content" style="width: 100%">
                    <div class="modal-header">
                        Thêm mới hàng giữ
                    </div>
                    <div class="modal-body">
                        <table border="1" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td align="left" style="height:36px;width:10%; background:#76933C; color:white; font-weight:bold">Sale giữ</td>
                                    <td align="left" style="width:20%;"><input type="text" style="border:none; height:36px; width: 100%" /> </td>
                                    <td colspan="4" style="width:30%;"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                </tr>
                                <tr>
                                    <td align="left" style="height:36px;background:#76933C; color:white; font-weight:bold">Khách hàng</td>
                                    <td align="left"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                    <td colspan="4"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                </tr>
                                <tr>
                                    <td align="left" style="height:36px;background:#76933C; color:white; font-weight:bold">Hàng hóa</td>
                                    <td colspan="5"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                </tr>
                                <tr>
                                    <td align="left" style="height:36px;background:#76933C; color:white; font-weight:bold">Ngày giữ</td>
                                    <td colspan="2" style="width:10%;"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                    <td align="left" style="width:10%;background:#76933C; color:white; font-weight:bold">SL giữ</td>
                                    <td colspan="2" style="width:60%;"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                </tr>
                                <tr>
                                    <td align="left" style="height:36px;background:#76933C; color:white; font-weight:bold">Ngày xuất</td>
                                    <td colspan="2" style="width:10%;"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                    <td align="left" style="width:10%; background:#76933C; color:white; font-weight:bold">Giữ PO?</td>
                                    <td colspan="2" style="width:60%;"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                </tr>
                                <tr>
                                    <td align="left" height="36" style="height:36px;background:#76933C; color:white; font-weight:bold">Ghi chú</td>
                                    <td colspan="5"><input type="text" style="border:none; height:36px; width: 100%" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-8 addnew">
                                <button id="exit" name="exit" class="btn addnewmodal" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

