
@{
    ViewBag.Title = "GiuKhoHome";
}

<script src="~/Content/self-writing/js/Controllers/RouteCtrl.js"></script>
<script src="~/Content/self-writing/js/Controllers/GiuHangCtrl.js"></script>
<link href="~/Content/self-writing/css/Kinhdoanh/hangcangxuat.css" rel="stylesheet" />
<div class="panel-heading">
    <marquee width="80%">Bạn đang xem danh mục hàng cần xuất</marquee>
</div>
<div ng-app="myApp"
     ng-controller="HomeGiuKhoCtrl"
     layout="column">

    <md-tabs md-stretch-tabs
             md-selected="selectedIndex">
        <md-tab label="Tổng hợp giữ kho"></md-tab>
        <md-tab label="Hàng giữ theo sale"></md-tab>
    </md-tabs>

    <div id="content" ui-view flex> </div>

</div>

